<nav class="inner-navigation">
    <ul>
        <li><a href="{{ site.baseurl }}/docs/"><h2>Using Represent Boundaries</h2></a></li>
        <li><a href="{{ site.baseurl }}/docs/as-a-service/">As a service</a></li>
        <li>
            <a href="{{ site.baseurl }}/docs/self-hosted/">Self-hosted</a>
            <ul>
                <li><a href="{{ site.baseurl }}/docs/self-hosted/install/">Install</a></li>
                <li><a href="{{ site.baseurl }}/docs/self-hosted/import/">Add new data</a></li>
                <li><a href="{{ site.baseurl }}/docs/self-hosted/api/">Use the API</a></li>
                <li><a href="{{ site.baseurl }}/docs/self-hosted/manage/">Manage your data</a></li>
            </ul>
        </li>
        <li><a href="{{ site.baseurl }}/docs/why/">When to use it</a></li>
        <li><h2>Getting help</h2></li>
        <li><a href="https://github.com/opennorth/represent-boundaries/">GitHub</a></li>
        <li><a href="mailto:represent@opennorth.ca">Contact us</a></li>
    </ul>
</nav>
